<script>
	import '../app.postcss';
	import Header from './Header.svelte';
	import './styles.css';
</script>

<svelte:head>
	<title>Debate It</title>
</svelte:head>

<div class="app">
	<Header />

	<main>
		<slot />
	</main>

	<footer class="flex flex-row-reverse items-center p-3">
		<div class="p-2">
			<a href="/privacy">Privacy Policy</a>
		</div>
		
		<div class="p-2">
			<a href="/terms">Terms of Service</a>
		</div>
	</footer>
</div>

<style lang='postcss'>
	.app {
		@apply flex flex-col min-h-screen max-w-full;
		@apply text-foreground bg-black bg-opacity-80;
	}

	main {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		padding-top: 60px;
		width: 100%;
		max-width: 64rem;
		margin: 0 auto;
		box-sizing: border-box;
	}

	footer a {
		font-weight: bold;
	}

	@media (min-width: 480px) {
		footer {
			padding: 12px 0;
		}
	}
</style>
