<script>
	import LandingFeature from '$lib/components/landing/LandingFeature.svelte';
	import LandingOverview from '$lib/components/landing/LandingOverview.svelte';

	import feedBackground from '$lib/images/landing/feed-background.jpg';
	import feedChallenge from '$lib/images/landing/feed-challenge.jpg';
	import requestPage from '$lib/images/landing/request-page.jpg';
	import opponentSearch from '$lib/images/landing/opponent-search.jpg';
	
	import debate from '$lib/images/landing/debate.png';
	import request from '$lib/images/landing/request.png';
	import user from '$lib/images/landing/user-preview.png';
	import challenge from '$lib/images/landing/challenge.png';

	const features = [
		{
			reversed: false,
			title: 'New way for Ranked Debates',
			description:
				'Debate It is an exciting new social network platform where users engage in debates on topics of their interest and vote to decide the winner. Move up levels and gain influence and prestige by winning debates and gaining followers. ',
			mainImage: feedBackground,
			itemImage:debate 
		},
		{
			reversed: true,
			title: 'Challenges',
			description:
				'Participate and create Challenges to discover your opponents and find out positions of other users on any topic.',
			mainImage: feedChallenge,
			itemImage: challenge 
		},
		{
			reversed: false,
			title: 'Invite your friends',
			description:
				'Send debate requests to your friends and followers to find a winner in the argument',
			mainImage: requestPage,
			itemImage: request
		},
		{
			reversed: true,
			title: 'Find your Opponent',
			description:
				'Find perfect opponent for your debate searching by country, education, political position and more!',
			mainImage: opponentSearch,
			itemImage: user 
		}
	];
</script>

<svelte:head>
	<title>Debate It</title>
	<meta name="description" content="Debate It App" />
</svelte:head>

<section>
	<LandingOverview />
</section>

{#each features as feature}
	<section>
		<LandingFeature {...feature} />
	</section>
{/each}

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 0.6;
	}
</style>
