<script>
	import Logo from '$lib/components/Logo.svelte';
</script>

<header class="flex flex-row justify-start items-center px-4 py-2 shadow-2xl drop-shadow-xl fixed w-full z-50">
	<div class="corner">
		<a href="/">
			<Logo scale={0.1} />	
	    <div class="pl-2">Debate It</div>
		</a>
	</div>

</header>

<style lang="postcss">
	a {
		@apply transition text-foreground hover:bg-black hover:bg-opacity-20 rounded font-light;
    @apply flex flex-row justify-between items-center gap-2;
	}

	a:hover {
		@apply text-primary;
	}
</style>
