<script lang="ts">
  import Logo from "$lib/components/Logo.svelte";

  import { fade, fly } from 'svelte/transition';

  const duration = 1500;
</script>

<article class="overview">
  <aside class="p-4">
    <div in:fly|global={{ x: -200, duration }}>
      <Logo scale={0.8} />
    </div>
  </aside>

  <main in:fade|global={{ duration: 500, delay: 500 }}>
    <div class="-ml-0 lg:-ml-16 mt-6 font-thin text-5xl lg:text-5xl xl:text-7xl text-secondary font-display">
      Change <br> 
      <div class="ml-20" in:fly|global={{ x: 200, duration: duration - 500, delay: 500 }}>
        the Conversation
      </div>
    </div>

    <p class="text-lg lg:text-2xl font-light max-w-xl text-left">
      Engage in ranked debates with like-minded people, participate in challenges and
      vote to decide the winner
    </p>
    
  </main>

  <footer class="lg:place-self-start" in:fly|global={{ y: 100, duration: 500, delay: 500 }}>
    <a href="https://play.google.com/store/apps/details?id=com.debatespace&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
      <img 
        class="h-20"
        alt="Get it on Google Play"
        src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
      />
    </a>
  </footer>
</article>

<style lang="postcss">
.overview {
  display: grid;

  grid-template-columns: 1fr auto;
  grid-template-areas: 
    "logo info" 
    "logo link";

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "logo"
      "info"
      "link";
  }

  place-content: center;
  place-items: center;

  height: 90vh;

  margin-top: calc(-1 * var(--layout-header-height));

  aside {
    grid-area: logo;
  }

  main {
    grid-area: info;
  }

  footer {
    grid-area: link;
  }
}


</style>