<script lang="ts">
  export let reversed: boolean;

  export let mainImage: string;
  export let itemImage: string;

  export let title: string;
  export let description: string;

  const offset = `image-shift${reversed ? '--reversed' : ''}`;
</script>

<article class="flex flex-row{!reversed ? '-reverse' : ''}" class:reversed>
  <aside>
    <img src={mainImage} alt="Main Feature" class="main-image" />
    <img src={itemImage} alt="Item Feature" class="item-image {offset}">
  </aside>

  <section>
    <header class="text-5xl font-display font-extralight text-primary">
      { title }
    </header>

    <main class="text-2xl font-light">
      { description }
    </main>
  </section>
</article>

<style lang="postcss">
  article {
    @apply flex  flex-col items-center xl:flex-row ;
    @apply max-w-xl lg:max-w-4xl xl:max-w-6xl;
    @apply mx-0 lg:mx-auto my-20;
    
    section {
      @apply text-left lg:ml-16 lg:p-20;
    }
    
    aside {
      @apply relative p-8;
      
      .main-image {
        @apply z-10 shadow-lg rounded-3xl border-8 border-gray-600;

        max-height: 600px;
        max-width: 300px
      }

      .item-image {
        @apply absolute lg:-right-16 top-40 z-20 shadow-xl rounded-md;
        @apply max-h-80 max-w-xs;
      }

    }

    &.reversed {
      @apply xl:flex-row-reverse;

      section {
        @apply lg:text-right;
      }

      aside {
        .item-image {
          @apply -right-16;
        }
      }
    }
  }
</style>