<script lang="ts">
  import { page } from '$app/stores'
</script>

<div class="grid place-content-center place-items-center w-full h-96">
  <div class="grow text-2xl font-display">
    {$page.error?.message}
  </div> 
</div>