<script lang="ts">
	import type { ActionData, PageData } from "./$types";

	import Loader from "$lib/components/Loader.svelte";

	import Button from "$lib/components/form/Button.svelte";
	import TextField from "$lib/components/form/TextField.svelte";
	import { enhance } from "$app/forms";

	export let form: ActionData;

	let password: string = '';
	let confirmPassword: string = '';

	let error: string | null;
	let loading: boolean = false;
	let finished: boolean = false;

	const validatePasssword = (v: string) => {
		if (v.length < 8) {
			return 'Password should be at least 8 characters long';
		}

		return null;
	};

	const validateConfirmPassword = (v: string) => {
		if (v !== password) {
			return 'Password do not match';
		}

		return null;
	};
</script>

<svelte:head>
	<title>Reset Password - Debate It</title>
</svelte:head>

{#if form?.success}
	<div class="flex flex-col justify-center items-center grow">
		<p class="text-3xl text-center">Your password has been reset, <br> you can log into the app.</p>
		<br>	

		<a href="/">Go to home page</a>
	</div>
{:else}
	<form class="wrapper" method="post" use:enhance>
		<article class="password-reset">
			<header>
				<h2 class="text-2xl">Reset Password</h2>
			</header>

			<main class="mt-4">
				<TextField hidden={true} bind:value={password} id="password" label="Password" validator={validatePasssword} />
				<TextField hidden bind:value={confirmPassword} id="confirmPassword" label="Confirm Password" validator={validateConfirmPassword} />
			</main>

			{#if error}
				<section>{error}</section>
			{/if}

			<footer>
				{#if !finished}
					{#if loading}
						<Loader />
					{:else}
						<Button primary align='center' type='submit' class="p-4 w-full shadow-sm mt-4">
							Change Password
						</Button>
					{/if}
				{:else}
					Password reset successfully
				{/if}
			</footer>
		</article>
	</form>
{/if}

<style lang="postcss">
	.wrapper {
		@apply grow grid place-content-center place-items-center;
	}

	.password-reset {
		@apply h-full w-96 rounded-2xl p-8 flex flex-col bg-surface;
	}

	main {
		@apply flex flex-col justify-around items-stretch grow;
	}
</style>
