<script lang="ts">
  type ButtonType = 'button' | 'submit' | 'reset';
  type ButtonAlign = 'center' | 'start' | 'end';

  export let primary = false;
  export let secondary = false;
  export let transparent = !primary && !secondary;

  export let type: ButtonType = 'button';
  export let align: ButtonAlign = 'center';
  export let disabled = false;

  export let block = false;
  export let round = false;

  let className: string = '';

  export { className as class};
</script>

<button 
  on:click 
  {type}
  {disabled}
  class="btn btn--align-{align} {className}"
  class:btn--primary={primary} 
  class:btn--secondary={secondary}
  class:btn--transparent={transparent}
  class:btn--block={block}
  class:btn--round={round}
  class:shadow-lg={!transparent}
  class:hover:shadow-xl={!transparent}
>
  <slot />
</button>

<style lang="postcss">
  .btn {
    @apply flex flex-row min-w-min py-1 border-none rounded-sm text-foreground;

    
    &--align-start { @apply justify-start; }
    &--align-center { @apply justify-center; }
    &--align-end { @apply justify-end; }


    &--primary {
      @apply bg-primary;
    }

    &--secondary {
      @apply bg-secondary;
    }

    &--transparent {
      background: transparent;
      @apply transition-colors ease-in-out duration-300 hover:bg-black hover:bg-opacity-40;
    }

    &--block {
      @apply flex-grow flex-shrink-0;
    }

    &--round {
      @apply rounded-full;
    }

  }
</style>