<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	type TextFieldEvents = {
		input: string;
		change: string;
	};
 
  type FieldType = '';

	let input: HTMLInputElement;

	export let id: string;
	export let value: string;
	export let hidden: boolean = false;

	export let label: string | undefined;

	export let validator: (value: string) => string | null;

	const dispatch = createEventDispatcher<TextFieldEvents>();

	const type = hidden ? 'password' : 'text';
    
	let error: string | null;

	function onChange(event: Event & { currentTarget: EventTarget & HTMLInputElement }) {
		value = event.currentTarget.value;
		validate(event);
	}

	function onInput(event: Event & { currentTarget: EventTarget & HTMLInputElement }) {
		dispatch('input', event.currentTarget.value);
		value = event.currentTarget.value;
	}

	function validate(event: Event & { currentTarget: EventTarget & HTMLInputElement }) {
		if (validator) {
			error = validator(event.currentTarget.value);
		}
	}
</script>

<div class="p-2">
  {#if label}
    <div>
      <label for={id}>{label}</label>
    </div>
  {/if}

  <div class="control">
    <input {id} {type} name={id}  bind:this={input} on:change={onChange} on:input={onInput} on:blur={validate} />
  </div>

  {#if error}
    <p>{error}</p>
  {/if}
</div>

<style lang="postcss">
	label {
		@apply block text-sm font-semibold mb-2;
	}

	input {
		@apply shadow appearance-none border rounded w-full py-2 px-3 mb-3 leading-tight;
		@apply focus:outline-none focus:shadow-lg;
		@apply text-foreground bg-background;
	}

	p {
		@apply text-red-800 text-xs;
	}
</style>
