/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('/fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('/fonts/Montserrat-Light.ttf');
    font-weight: light;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('/fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-display: swap;
  }
  
}

body {
  font-family: 'Montserrat', sans-sefir;
}