<script lang="ts">
  import { Rive } from 'rive-js';
  import { onDestroy, onMount } from 'svelte';

  let canvas: HTMLCanvasElement;

  export let size: number = 80;

  onMount(() => {
    new Rive({ canvas, autoplay: true, src: 'assets/animations/debateit-logo.riv' });
  });
</script>

<canvas bind:this={canvas} width={size} height={size}>
</canvas>