<script lang="ts">
	const baseWidth = 445;
	const baseHeight = 344;

	export let scale = 1;
</script>

<div class="grid place-content-center">
	<svg
		version="1.0"
		xmlns="http://www.w3.org/2000/svg"
		width="{baseWidth * scale}px"
		height="{baseHeight * scale}px"
		viewBox="0 0 4440 3440"
		preserveAspectRatio="xMidYMid meet"
	>
		<g id="layer101" fill="#2b2b2b" stroke="none">
			<path
				d="M826 3430 c-103 -18 -193 -105 -215 -210 -7 -33 -11 -226 -11 -540 l0 -488 -192 -4 c-188 -3 -195 -4 -250 -31 -64 -31 -101 -70 -132 -137 -21 -45 -21 -53 -21 -925 l0 -880 24 -52 c13 -29 42 -70 65 -91 85 -78 -61 -73 1846 -70 l1705 3 41 22 c53 28 99 74 127 127 22 41 22 46 25 569 l3 527 192 0 c180 0 195 2 242 24 63 29 112 77 139 136 21 45 21 54 21 930 0 877 0 885 -21 930 -31 67 -68 106 -132 137 l-57 28 -1675 1 c-921 1 -1697 -2 -1724 -6z"
			/>
		</g>
		<g id="layer102" fill="#d12020" stroke="none">
			<path
				d="M321 1982 c-19 -9 -48 -34 -65 -55 l-31 -39 -2 -786 -3 -787 23 -40 c14 -26 37 -48 67 -63 l44 -22 1577 0 1576 0 33 22 c18 13 43 36 54 51 21 28 21 39 24 503 l3 474 -1408 2 c-1585 3 -1444 -4 -1531 81 -76 74 -82 106 -82 412 l0 265 -122 0 c-97 0 -130 -4 -157 -18z"
			/>
		</g>
		<g id="layer103" fill="#4dadd4" stroke="none">
			<path
				d="M942 3240 c-44 -10 -100 -65 -113 -110 -6 -23 -9 -303 -7 -812 3 -766 3 -777 24 -804 11 -15 33 -37 48 -48 27 -21 29 -21 1617 -24 1763 -2 1621 -8 1676 65 l28 36 3 790 2 789 -21 38 c-12 21 -40 48 -63 61 l-41 24 -1560 2 c-858 0 -1575 -2 -1593 -7z"
			/>
		</g>
		<g id="layer104" fill="#e5c780" stroke="none">
			<path
				d="M942 3240 c-44 -10 -100 -65 -113 -110 -6 -23 -9 -303 -7 -812 3 -766 3 -777 24 -804 11 -15 33 -37 48 -48 27 -21 29 -21 1617 -24 1763 -2 1621 -8 1676 65 l28 36 3 790 2 789 -21 38 c-12 21 -40 48 -63 61 l-41 24 -1560 2 c-858 0 -1575 -2 -1593 -7z m1633 -453 c59 -59 55 -153 -8 -201 -28 -21 -34 -21 -765 -24 -725 -2 -738 -2 -770 18 -54 33 -77 114 -49 170 7 13 28 35 46 47 l34 23 739 0 740 0 33 -33z m-539 -449 c59 -65 46 -166 -27 -204 -23 -12 -106 -14 -489 -14 -411 0 -463 2 -486 16 -34 23 -54 65 -54 116 0 50 19 81 64 109 30 18 52 19 494 17 l464 -3 34 -37z m1913 24 c52 -26 76 -65 76 -122 0 -55 -27 -93 -82 -116 -48 -21 -1501 -21 -1541 0 -108 56 -99 212 14 246 16 4 360 9 764 9 681 1 738 0 769 -17z m-947 -435 c39 -27 61 -81 55 -134 -6 -53 -36 -89 -86 -104 -24 -6 -352 -9 -978 -7 l-943 3 -31 31 c-50 51 -56 142 -11 186 48 48 35 48 1032 45 883 -2 936 -3 962 -20z m946 -20 c55 -53 59 -150 8 -194 -14 -12 -43 -27 -64 -32 -53 -15 -537 -13 -582 2 -74 25 -107 140 -58 202 41 53 58 55 375 52 l292 -2 29 -28z"
			/>
			<path
				d="M321 1982 c-19 -9 -48 -34 -65 -55 l-31 -39 -2 -786 -3 -787 23 -40 c14 -26 37 -48 67 -63 l44 -22 1577 0 1576 0 33 22 c18 13 43 36 54 51 21 28 21 39 24 503 l3 474 -1380 0 c-948 0 -1396 3 -1430 11 -28 6 -67 21 -86 35 -33 22 -46 24 -153 24 -73 0 -126 5 -141 13 -59 30 -87 117 -57 176 27 51 69 71 154 71 l72 0 0 215 0 215 -122 0 c-97 0 -130 -4 -157 -18z m1076 -858 c60 -44 79 -123 43 -182 -38 -61 -42 -62 -537 -62 -432 0 -449 1 -481 20 -98 60 -71 213 42 239 23 5 231 9 473 8 419 -2 432 -3 460 -23z m1929 0 c55 -37 73 -137 33 -188 -46 -58 -11 -56 -831 -56 -719 0 -754 1 -784 19 -34 21 -64 75 -64 116 0 39 27 83 63 105 31 19 56 20 795 20 692 0 765 -2 788 -16z m-981 -434 c115 -26 138 -186 35 -242 -33 -17 -81 -18 -980 -18 -930 0 -946 0 -978 20 -95 58 -72 209 37 238 47 13 1832 15 1886 2z m971 -6 c35 -17 74 -81 74 -123 0 -44 -30 -89 -74 -111 -39 -19 -61 -20 -317 -20 -307 0 -325 3 -361 71 -38 71 -14 148 55 180 38 17 68 19 315 19 230 0 279 -3 308 -16z"
			/>
		</g>
	</svg>
</div>

<style>
	div {
		display: inline-grid;

		place-content: center;
	}
</style>
